# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.DS_Store
*.ds_store

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

#.env
.env

# vs compiled files
.vscode

# go test files
.out
dist/
.idea/
logs/
log/
/file_store*/
config.json
cover.html
tmp/